body {
    max-width: 1100px;
    margin: auto;
    padding-inline: 16px;
    font-family:'Courier New', Courier, monospace
}

h1, .name {
    color: crimson;
}

.results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.game {
    padding: 1rem;
    background-color: rgba(0, 0, 139, 0.1);
    border-radius: 8px;
}

p {
    font-size: 1rem;
    font-weight: 600;
}

.error {
    padding: 1rem;
    background-color: rgba(139, 0, 16, 0.1);
    border-radius: 8px;
    border: 2px solid crimson;
}

@media (max-width: 700px) {
    .results {
        grid-template-columns: 1fr;
    }
}